### Importing important libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

### Loading the dataset

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Wine_Dataset/winequality-red.csv",sep=";")

In [3]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [4]:
print("Shape of our dataframe is: ",df.shape)

Shape of our dataframe is:  (1599, 12)

Out of the 12, one is the target variable ('quality') and rest 11 are input variables.

In [6]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

 - We can notice that the mean value is less than the median value of each column.
 - There is notably a large difference between 75th %tile and max values of predictors “residual sugar”, "free sulfur dioxide”, "total sulfur dioxide”. This indicates that some values of these 3 variables lie much farther from the general range of values( up to 75th %tile). Thus we can conclude that there are extreme values i.e Outliers in our dataset.

In [7]:
df['quality'].unique()

array([5, 6, 7, 4, 8, 3], dtype=int64)

**Few key insights just by looking at the target variable are as follows:**

 - Target variable/Dependent variable is discrete and categorical in nature.
 - **“quality”** score scale ranges from 1 to 10; 1 being poor and 10 being the best.
 - 1,2,9 & 10 Quality ratings are not given by any observation. Only scores obtained are between 3 to 8.

In [8]:
df['quality'].value_counts()

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

- This tells us the vote count of each quality score in descending order.
- **“quality”** has most values concentrated in the categories 5, 6 and 7.
- Only a few observations made for the categories 3 & 8.

**Renaming names of the columns**

In [10]:
df.rename(columns={'ficxed acidity':'fixed_acidity','citric acid':'citric_acid','volatile acidity':'volatile_acidity','residual sugar':'residual_sugar',
                  'free sulphur dioxide':'free_sulphur_dioxide','total sulphur dioxide': 'total_sulphur_dioxide'},inplace=True)

**Splitting data into featues and labels set**

In [11]:
X = df.iloc[:,:11]
y = df.iloc[:,-1]

### Using the Pywedge library for EDA

In [17]:
import pywedge as pw
charts = pw.Pywedge_Charts(df, c=None, y = 'quality')

In [24]:
plots = charts.make_charts()

HTML(value='<h2>Pywedge Make_Charts </h2>')

Tab(children=(Output(), Output(), Output(), Output(), Output(), Output(), Output(), Output()), _titles={'0': '…

HTML(value='<h4><em>Charts compiled by Pywedge make_charts </em></h4>')